body {
            font-family: 'Lucida', monospace;
            margin: 0;
            padding: 20px;
            color: white;
            background: linear-gradient(45deg, #003B49, #004F63, #006B7F, #004F63, #003B49);
            background-size: 400% 400%;
            animation: gradient 10s ease infinite;
            height: 100%;
        }
        @keyframes gradient {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }
        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 5px;
            margin-bottom: 20px;
        }
        th, td {
            padding: 12px;
            text-align: left;
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
            border-radius: 15px;
        }
        th {
            background-color: rgba(255, 255, 255, 0.3);
        }
        tr:nth-child(even) {
            background-color: rgba(255, 255, 255, 0.05);
        }
        a {
            text-decoration: none;
            color: #D0E8FF;
        }
        a:hover {
            text-decoration: underline;
        }
        .date {
            color: white;
        }
        @media (max-width: 600px) {
            body {
                padding: 20px;
                /*font-size: 16px;*/
            }
            th, td {
                padding: 8px;
                border-radius: 5px;
            }
        }
        td.filename {
            max-width: 45vw;
            white-space: normal;
            word-wrap: break-word;
            color: #E0F7FF;
        }
        td.size, td.date {
            white-space: nowrap;
        }
        .faq-container {
            max-width: 600px;
            margin: auto;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 25px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            color: white;
        }
        .faq-header {
            margin-top: 5px;
            padding: 10px;
            color: #fff;
            text-align: center;
            font-weight: bold;
            margin-bottom: 5px;
            background: rgba(58, 74, 140, 0.25);
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 15px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
        .faq-item {
            /*border-bottom: 1px solid #ddd;*/
            padding: 5px 0;
        }
        .faq-item:last-child {
            border-bottom: none;
        }
        .faq-question {
            padding: 15px;
            cursor: pointer;
            width: 100%;
            text-align: left;
            font-size: 12px
            outline: none;
            color: white;
            font-weight: bold;
            transition: background 0.3s;
            border-radius: 15px;
            background: rgba(211, 211, 211, 0.25);
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
        .faq-question:hover {
            background: rgba(255, 255, 255, 0.3);
        }
        .faq-answer {
            padding: 10px;
            display: none;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            color: white;
            transition: max-height 0.3s ease;
            border-radius: 15px;
            margin-top: 10px;
        }
        .rounded-image {
            width: 64px;
            height: 64px;
            border-radius: 10%;
            overflow: hidden;
            margin-bottom: 20px;
        }
        .rounded-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .transparent-footer {
            margin: auto;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px 0;
            font-size: 14px;
        }
